header {
    background-color: #262F34;
    height: 50px;
}

nav a {
    margin-right: 20px;
    color: #FCFCFA;
    text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	line-height: 5rem;
	text-align: right;
}

nav a:hover {
    color: #FF4447;
}

footer {
    background-color: #262F34;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
}

footer a {
    color: #FFF;
    text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2rem;
	line-height: 5rem;
	text-align: left;
}

footer a:hover {
    color: #FF4447;
}

span {
    color: green;
}